<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-10">
    <%= f.label :name, class: "control-label"  %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field col-md-10">
    <%= f.label :description, class: "control-label"  %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="field col-md-10">
    <%= f.label :whatsapp, class: "control-label"  %>
    <%= f.check_box :whatsapp %>
  </div>

  <div class="field col-md-10">
    <%= f.label :phone, class: "control-label"  %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="field col-md-10">
    <%= f.label :birthdate, class: "control-label"  %>
    <%= f.date_select :birthdate, class: "form-control" %>
  </div>

  <div class="field col-md-10">
    <%= f.label :address, class: "control-label"  %>
    <%= f.text_area :address, class: "form-control" %>
  </div>

  <div class="field col-md-10">
    <%= f.label "Profile Picture", class: "control-label"  %>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>
  <% end %>

  <div class="actions col-md-10">
    <%= f.submit %>
  </div>
<% end %>
