<div class="search-form">
    <h4>Filter/Search</h4>
    <div class="col-md-5">
        <%= form_for :search, url: products_path do |f| %>
        </br>
        <%= f.label "Search" %>
        <%= f.text_field(:search_string, placeholder: "Search") %>
        </br>
        <%= f.label "Search by ISBN" %>
        <%= f.text_field(:search_isbn, placeholder: "Search ISBN") %>
        </br>
        <%= f.label :format %>
        <%= f.number_field :format %>

        <%= f.label :language %>
        <%= f.text_field :language %>

        <%= f.label :price_above, "Priced Above" %>
        <%= f.number_field :price_above %>
        </br>
        <%= f.label :price_below, "Priced Below" %>
        <%= f.number_field :price_below %>
        </br>
        <%= f.label :category %>
        <%= f.number_field :category %>
        </br>
        <%= f.label :sale_or_rent %>
        <%= f.number_field :sale_or_rent %>
        </br>
        <%= f.label :pages_above %>
        <%= f.number_field :pages_above %>
        </br>
        <%= f.label :pages_below %>
        <%= f.number_field :pages_below %>
    </div>
    <% end %>
</div>
