<p id="notice"><%= notice %></p>
<div class="container">
  <%= image_tag(@product.product_images[0]) %>
</div>

<div>
  <%= link_to('Edit', edit_product_path(@product), class: "btn btn-primary col-md-12") if owner_or_admin?(@product) %>
</div>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Sale or rent:</strong>
  <%= @product.sale_or_rent %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Ages:</strong>
  <%= @product.ages %>
</p>

<p>
  <strong>Format:</strong>
  <%= @product.format %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @product.pages %>
</p>

<p>
  <strong>Publication date:</strong>
  <%= @product.publication_date %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @product.publisher %>
</p>

<p>
  <strong>Publication city:</strong>
  <%= @product.publication_city %>
</p>

<p>
  <strong>Language:</strong>
  <%= @product.language %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @product.isbn %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user %>
</p>

<%= render(partial:"orders/new") if @order %>

