<div class="search-form">
    <h4>Filter/Search</h4>
    <div class="container">
        <%= form_for :search, url: products_path, method: "GET" do |f| %>
            <div class="container col-md-6">
                <div class="field col-md-12">
                    <%= f.label "Search", class: "control-label" %>
                    <%= f.text_field(:search_string, placeholder: "Title, author or ISBN", class: "form-control") %>
                </div>

                <div class="container col-md-12">
                    <%= f.label :price, "Price", class: "control-label" %>
                    <div class="input-group field">
                        <%= content_tag :div, "From RM", class: "input-group-addon" %>
                        <%= f.number_field :price_above, class: "form-control" %>
                        <%= f.label :price_below, " To RM", class: "input-group-addon" %>
                        <%= f.number_field :price_below, class: "form-control" %>
                    </div>
                </div>
              </div>

            <div class="container col-md-6">
                <%= f.label :product_details, class: "control-label" %>
                <div class="field col-md-12">
                    <%= f.label :sale_or_rent, class: "control-label col-md-3" %>
                    <%= f.select :sale_or_rent, Product.sale_or_rents.keys.to_a.map {|e| [e.humanize, e]}, include_blank: true, class: "selectpicker" %>
                </div>
                <div class="field col-md-12">
                    <%= f.label :category, class: "control-label col-md-3" %>
                    <%= f.select :category, Product.categories.keys.to_a.map {|e| [e.humanize, e] }, include_blank: true, class: "selectpicker" %>
                </div>
                <div class="field col-md-12">
                    <%= f.label :product_format, class: "control-label col-md-3" %>
                    <%= f.select :product_format, Product.formats.keys.to_a.map {|e| [e.humanize, e]}, include_blank: true, class: "selectpicker" %>
                </div>
                <div class="field col-md-12">
                    <%= f.label :language, class: "control-label col-md-3" %>
                    <%= f.select :language, Product.languages.keys.to_a.map {|e| [e.humanize, e]}, include_blank: true, class: "selectpicker" %>
                </div>
                

                <div class="container pull-right">
                <%= f.submit "Search", class: "col-md-4 pull-right" %>
                </div>
            </div>
        </div>
      <% end %>
  </div>
